.call_to_action {
  background-color: #f5f5f5;
  width: 100%;
}
.call_to_action_inner {
  text-align: center;
  padding: 4rem 1rem;
  margin-bottom: 4rem;
}

.call_to_action h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.call_to_action p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #555;
}

.cta_btn {
  border: 3px solid #242d52;
  border-radius: 100vw;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s ease;
  background-color: #242d52;
  color: #ffffff;
}

.cta_btn:hover {
  color: #242d52;
  background-color: #fff;
}
@media (max-width: 768px) {
  .call_to_action_inner {
    padding: 5rem 0;
  }

  .call_to_action h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .call_to_action p {
    font-size: 0.9rem;
  }
}
