.lp_room_sorter {
  position: relative;
  height: inherit;
  display: block;
}
.room_filter_btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #fff;
  padding: 0 0.5rem;
  min-width: 70px;
  border-radius: 0.6rem;
  border: 1px solid #1a1816;
  border: 2px solid #4b4bff;
  color: #000;
}
.room_filter_btn.selected {
  background-color: #4b4bff;
  border: 2px solid #ddd;
  color: #fff;
}
.room_sorting_btn_txt {
  font-size: 0.9rem;
  font-weight: 600;
  color: inherit;
}
.room_btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 100%;
}
.room_btn_icon svg {
  width: 100%;
  height: 100%;
  color: inherit;
  fill: inherit;
}
.clear_room_btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.room_btn_icon svg.icon_clear {
  width: 100%;
  height: 100%;
  color: #ff6969;
  fill: #ff6969;
}
.room_dropdown {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  z-index: 10;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.room_dd_hdr {
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  padding: 0 0 0 1rem;

}
.done_btn {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #000000;
  border-radius: inherit;
}
.rooms_dropdown_inner {
  width: 100%;
  padding: 0.5rem 0.5rem 1.2rem;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  border: 1px solid #000000;
}
.room_dropdown_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  width: 47%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000;
  box-shadow: 0px 1px 2px #333;
  transition: all 0.3s ease;
}
.room_dropdown_btn.active {
  box-shadow: none;
  border: 1px solid #000;
}
.room_ttl {
  color: #333;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  /* margin-bottom: 0.5rem; */
}
.room_ttl.mg-t {
  margin-top: 0.5rem;
}
.room_inner_dropdowns {
  width: 100%;
  display: block;
  position: relative;
}
.inner_bed_dropdowns,
.inner_bath_dropdowns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding: 0 0.5rem;
  z-index: 20;
}
.inner_bed_dropdowns {
  top: -94px;
}
.inner_bath_dropdowns {
  top: -17px;
}
.bed_min_dd,
.bed_max_dd,
.bath_min_dd,
.bath_max_dd {
  width: 46%;
}

.dropdown_values {
  box-shadow: 0px 1px 10px #00000075;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.4rem 0;
}

.room_value_btn {
  width: 100%;
  display: block;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-align: left;
}

.room_value_btn:hover {
  background: #f0f0f0;
}
