.share_pty {
  position: relative;
}
.share_btn {
  background-color: #13ccbb;
  color: rgb(255, 255, 255);
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 5px;
  border-radius: 100vw;
  border: 1px solid #0df5de;
}
.share_btn.open{
  border: 1px solid #007267;
  background-color: #007267;
}
.share_buttons {
  margin-top: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
}

.share_buttons button {
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  border: 1px solid #007267;

  transition: background-color 0.3s;
}

.share_buttons button:hover {
  background-color: #13ccbb;
  color: white;
}
