.wl_pge {
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: #fff;
  position: relative;
}
.wl_hdr {
  padding: 1rem 4rem;
  color: #fff;
  background-color: rgb(255, 156, 156);
}
.wl_cntnt {
  padding: 1rem 4rem;
}
.wishlist_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}
.wishlist_items .pty_box {
  width: 100%;
}
.no_val {
  color: #ddd;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
}
