.my_pty_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.caledar_btn {
  background-color: #4caf50;
  color: #ffffff;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  border: 1px solid #000000;
  align-items: center;
  gap: 4px;
}

.caledar_btn.hide {
  background-color: red;
  margin-left: auto;
  margin-right: 2rem;
}
.caledar_btn:hover {
  background-color: #000;
  border: 1px solid #ddd;
}


.tour_request_cntnt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 4rem ;
  position: relative;
  min-height: 50vh;
}

.request_count {
  position: absolute;
  right: 0rem;
  top: -2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.tour_request_dates {
  height: 100vh;
  background-color: #00000055;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1040;
}

.calender_wrapper {
  width: 340px;
  padding: 0 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.calendar_note {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar_note svg {
  color: #b4ffb7;
  font-size: 1.5rem;
}
.calendar_note span {
  color: rgb(102, 255, 0);
  font-size: 1.5rem;
}

.react-calendar .highlight {
  background: #4caf50 !important;
  color: white !important;
  border-radius: 15px;
  border: 1px solid #000;
}
.react-calendar {
  border-radius: 18px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.5);
  padding: 2rem 0.5rem;
  color: #333;
}

.react-calendar__navigation button {
  /* background: #4caf50; */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

/* Weekdays Header */
.react-calendar__month-view__weekdays {
  font-weight: bold;
  color: #4caf50;
  text-transform: uppercase;
  text-align: center;
}


.tours_display {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tour_filter_controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}
.tour_filter_controls label {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
}
.tour_status_filter {
  border: 1px solid #ddd;
  padding: 0.1rem 1rem;
  color: #333;
  background-color: #333;
  color: #ffffff;
}

.zero_msg {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 2rem;
}
@media only screen and (max-width: 1100px) {
  .tour_request_dates {
    padding: 1rem;
  }
  .tour_request_cntnt {
    padding: 1rem;
    /* flex-direction: column-reverse; */
  }
}
@media only screen and (max-width: 768px) {
  .tour_request_dates {
    padding: 1rem 0;
  }
  .caledar_btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}
