.pty_box {
  min-width: 300px;
  max-width: 96%;
  border-radius: 5px;
  margin: 5px auto;
  position: relative;
  background-color: #fff;
}
.pty_box.wishlisted {
  border: 2px solid rgb(255, 154, 154);
  background-color: #f8f8f8;
}
.pty_box.wishlisted .pty_box_body {
  box-shadow: none;
}
.pty_box_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1111;
}

.pty_box a {
  user-select: none;
}
.wish_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff56;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
}
.wish_btn.filled {
  background-color: rgb(255, 255, 255);
  border: 2px solid red;
}
.icon_heart {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  stroke: #000000;
  color: #fff;
}
.icon_heart.filled {
  width: 24px;
  height: 24px;
  color: red;
  fill: red;
  stroke: red;
}
/* .wish_btn:hover {
  border: 2px solid rgb(255, 167, 167);
  background-color: #ffffff;
}
.wish_btn:hover .icon_heart {
  fill: red;
} */
.pty_img {
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pty_img img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pty_box_body {
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 1px 12px #33333370;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: url(../../assets/bg-dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 117px;
}
.new_pty {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 1px 12px #33333370;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: url(../../assets/bg-dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 117px;
}
.new_pty.no_shadow {
  /* box-shadow: none; */
  width: max-content;
  padding: 1rem 0.5rem;
}
.pty_purpose {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 500;
}
.dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: rgb(10, 128, 31);
  margin-right: 4px;
}


.pty_specs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 400px;
  gap: 0.5rem;
}
.pty_spec {
  width: max-content;
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  padding: 0.3rem 1rem;
  background-color: #353535;
  /* border: 1px solid rgb(0, 128, 28); */
  border-radius: 4px;
  color: #fff;
}
.spec {
  line-height: 1;
  font-size: 0.85rem;
  font-weight: 500;
  color: #ffffff;
}
.pty_box_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.pty_location {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.pty_loc_detail {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

small.pty_street {
  color: #333;
  font-weight: 800;
  line-height: 1;
  font-size: 0.8rem;
}
.pty_state {
  color: #000000;
  line-height: 1;
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
/* .contact_btn {
  position: absolute;
  top: 185px;
  right: 16px;
  border-radius: 100vw;
  border: 2px dashed #000000;
  padding: 0.4rem 0.6rem;
  font-weight: 700;
  background-color: #ffffffda;
  color: #333;
  text-align: center;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
}
.contact_btn:hover {
  border: 2px solid rgb(0, 0, 0);
  background-color: #000000;
  color: #fff;
} */
.pty_box_post_date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #000000;
  font-weight: 700;
  font-size: 0.9rem;
  gap: 5px;
}
.owner_actions {
  position: absolute;
  width: 100%;
  top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.owner_actions button {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 40%;
}
.edit_btn {
  background-color: #000000b9;
  color: #fff;
  border: 2px solid #000000b9;
}
.del_btn {
  background-color: #ff0000b9;
  color: #fff;
  border: 2px solid #ff0000b9;
}
.edit_btn:hover {
  background-color: #000000;
  border: 2px solid #000000;
}
.del_btn:hover {
  background-color: #ff0000;
  border: 2px solid #ff0000;
}
