/* Modal background overlay */
.del_pty_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.del_modal_content {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 8px;
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.warn_icon_lrg {
  width: 50px;
  height: 50px;
  fill: #f44336;
  margin: 0 auto;
}
.del_modal_content h2 {
  text-transform: uppercase;
  line-height: 1;
  color: #333;
  font-size: 2rem;
}
.del_pty_img {
  width: 100%;
  height: 250px;
  border: 2px dashed red;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.del_pty_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.del_pty_img svg {
  width: 150px;
  height: 150px;
  fill: #333;
}
.modal_actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
}

.modal_btn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 30%;
}

.modal_btn.cancel {
  background-color: #f44336;
  color: white;
}

.modal_btn.confirm {
  background-color: #4caf50;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  color: white;
}
.modal_btn.confirm:hover .warn_icon {
  opacity: 1;
  display: block;
}
.warn_icon {
  font-size: 1.2rem;
  display: none;
  fill: red;
  color: red;
}
.modal_btn.confirm:hover {
  background-color: #06a80b;
}
.modal_btn.cancel:hover {
  background-color: red;
}
@media only screen and (max-width: 768px) {
  .del_modal_content {
    width: 320px;
  }
  .warn_icon_lrg{
    width: 30px;
    height: 30px;
  }
  .del_modal_content h2{
    font-size: 1.4rem;
  }
  .del_pty_img{
    height: 180px;
  }
  .modal_btn{
    padding: 0.5rem 1.5rem;
  }
}