.back_btn {
  width: fit-content;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: underline;
  /* margin-bottom: 0.5rem; */
  transition: all 0.2s ease;
}
.back_btn.white{
  color: #fff;
}
.back_btn:hover {
  color: #c2a500;
}
.icon_left {
  width: 14px;
  height: 14px;
  margin-top: 2px;
}
.btn_txt {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.5rem;
  padding-left: 0;
}
