.property_detail {
  width: 100%;
  background-color: #fff;
  padding: 1rem 5rem 5rem;
  position: relative;
}
.pty_detail_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
/*  DETIAL HEADER */

.pty_detail_hdr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.6rem;
  gap: 1.4rem;
  position: relative;
}
.own_pty_tag {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #3bd100;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-transform: uppercase;
}
.pty_titl {
  color: #333;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.pty_det_hdr_location {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  gap: 0.4rem;
}
.pty_hdr_loc_detail {
  display: flex;
  flex-direction: column;
}

.pty_detail_hdr .icon_location {
  width: 30px;
  height: 30px;
  fill: red;
}
.pty_det_street {
  color: #333;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.pty_det_state {
  color: #000;
  line-height: 1;
  font-size: 0.9rem;
  text-transform: capitalize;

  font-weight: 500;
}
/*  END DETIAL HEADER */
.property_photos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1px;
  height: 430px;
  align-items: start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px #333;
}

.main_photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  position: relative;
}
.photo_info {
  position: absolute;
  bottom: 4px;
  left: 4px;
  padding: 4px 18px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.main_photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.small_photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
  height: inherit;
}

.photo_box {
  overflow: hidden;
  position: relative;
}

.photo_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
/* DESCRTIPTION SECTION */
.property_descp {
  margin-bottom: 2rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid #ddd;
}
.pty_post_date {
  color: #333;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0.5rem 0;
}
.pty_desc_main {
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 4rem;
  border-top: 1px solid #ddd;
  padding: 1rem 0;
}
.pty_detail_price {
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}
.property_detail .pty_purpose {
  font-size: 1rem;
  font-weight: 600;
}
.pty_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pty_info .info {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #333;
  position: relative;
}
.icon_info {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}

.pty_page_contact_btn {
  border-radius: 100vw;
  flex: 1;
  min-width: 150px;
  border: 3px solid #000000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
}
.pty_page_contact_btn:hover {
  background-color: #000000;
  color: #fff;
}
.info_ttl {
  font-weight: 800;
  line-height: 1;
  font-size: 1.2rem;
  color: #f8f8f8;
}
.property_detail .pty_price {
  font-size: 1.5rem;
  color: green;
}
.pty_declars {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.pty_type {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}

.pty_detail_col {
  display: flex;
  flex-direction: column;
}
.pty_detail_col p {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}
.pty_detail_col span {
  color: #333;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}
.pty_desc_second {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.prty_desc_map {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.pty_desc_thrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 40%;
  min-width: 600px;
}
/* PROPERTY DETAIL H2, P | MAP */
.pty_detail {
  width: 100%;
}
.pty_detail_title {
  display: flex;
  align-items: center;
}
.pty_detail_title h2 {
  color: #333;
  letter-spacing: 2px;
}
.pty_detail p {
  color: #888888;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.7;
  padding-left: 2rem;
}
.pty_detail_title svg {
  color: #888888;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 24px;
  color: #000;
  margin-right: 0.5rem;
  fill: #333;
}
/* END PROPERTY DETAIL H2, P */
/* PROPERTY ACTIONS BUTTONS */

.pty_actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pty_actn_btn {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 100vw;
  flex: 1;
  min-width: 150px;
  border: 3px solid #000000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
}
.pty_actn_btn:hover {
  border: 2px solid rgb(0, 0, 0);
  background-color: #000000;
  color: #fff;
}
/* END PROPERTY ACTIONS BUTTONS */

/* PROPERTY MAP*/
.pty_map {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 500px;
  min-width: 400px;
  position: relative;
  height: 250px;
  box-shadow: 2px 2px 2px #333;
  overflow: hidden;
}
.leaflet-container {
  height: 100%;
}

/* END PROPERTY MAP*/
