.property_detail {
  width: 100%;
  background-color: #fff;
  padding: 1rem 5rem 5rem;
}
/*  DETIAL HEADER */

.pty_detail_hdr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.6rem;
  gap: 1.4rem;
  /* position: relative; */
}
.pty_titl {
  color: #333;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.pty_page_contact_btn {
  border-radius: 100vw;
  border: 3px solid #000000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
}
.pty_page_contact_btn:hover {
  background-color: #000000;
  color: #fff;
}
.pty_det_hdr_location {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  gap: 0.4rem;
}
.pty_hdr_loc_detail {
  display: flex;
  flex-direction: column;
}

.pty_detail_hdr .icon_location {
  width: 30px;
  height: 30px;
  fill: red;
}
.pty_det_street {
  color: #333;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.pty_det_state {
  color: #000;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
}
/*  END DETIAL HEADER */
.property_photos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1px;
  height: 430px;
  align-items: start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px #333;
}

.main_photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  position: relative;
}
.photo_info {
  position: absolute;
  bottom: 4px;
  left: 4px;
  padding: 4px 18px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.main_photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.small_photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
  height: inherit;
}

.photo_box {
  overflow: hidden;
  position: relative;
}

.photo_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.pty_desc_main {
  margin: 3rem 0 1rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  border-top: 1px solid #ddd;
  padding: 1rem 0;
}
.pty_detail_price {
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}
.property_detail .pty_purpose {
  font-size: 1rem;
  font-weight: 600;
}
.pty_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pty_info .info {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #333;
  position: relative;
}
.icon_info {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
.info_ttl {
  font-weight: 800;
  line-height: 1;
  font-size: 1.2rem;
  color: #f8f8f8;
}
.property_detail .pty_price {
  font-size: 1.5rem;
  color: green;
}
.pty_declars {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.pty_type {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}

.pty_detail_col {
  display: flex;
  flex-direction: column;
}
.pty_detail_col p {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}
.pty_detail_col span {
  color: #333;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}
.pty_desc_second {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.prty_desc_map {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 0;
}
.pty_desc_thrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 600px;
}
/* PROPERTY DETAIL H2, P */
.pty_detail {
  width: 100%;
}
.pty_detail h2 {
  color: #333;
  letter-spacing: 2px;
}
.pty_detail_title {
  display: flex;
  align-items: center;
}
.pty_detail p {
  color: #888888;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.7;
  padding-left: 2rem;
}
.pty_detail svg {
  color: #888888;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 24px;
  color: #000;
  margin-right: 0.5rem;
  fill: #333;
}
/* END PROPERTY DETAIL H2, P */
/* PROPERTY ACTIONS BUTTONS */

.pty_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.pty_actn_btn {
  border-radius: 100vw;
  border: 2px solid #000000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
}
.pty_actn_btn:hover {
  border: 2px solid rgb(0, 0, 0);
  background-color: #000000;
  color: #fff;
}
/* END PROPERTY ACTIONS BUTTONS */
/* embeded map, iframe */
.pty_map {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 640px);
  position: relative;
  height: 250px;
  box-shadow: 2px 2px 2px #333;
  overflow: hidden;
}
.add_pty_map_container {
}
.leaflet-container {
  height: 100%;
}
.pty_map_hdr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.3rem 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 3px;
  background-color: #000;
}
/* Modal container */
.pty_img_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

/* Modal content */
.pty_img_modal_content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.close_button {
  position: absolute;
  top: -40px;
  right: 0;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: #9b0000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
