.property_detail {
  width: 100%;
  background-color: #fff;
  padding: 0rem 0rem 5rem;
  min-height: 100vh;
  position: relative;
}

/*  DETIAL HEADER */

.pty_detail_hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  /* margin: 0 0 0.5rem; */
  padding: 0.5rem 2rem 0;
}
/* 
.pty_titl {
  color: #333;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
} */
.pty_det_hdr_location {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  gap: 0.5rem;
}
.pty_hdr_loc_detail {
  display: flex;
  flex-direction: column;
}
.pty_det_icon_location {
  width: 25px;
  height: 25px;
  fill: red;
}
.pty_det_street {
  color: #333;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.pty_det_state {
  color: #000;
  line-height: 1;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}
/*  END DETIAL HEADER */
/* PHOTOS */
.property_photos {
  padding: 0.5rem;
  max-width: 1400px;
  margin: 0.5rem auto;
  background: #ffffff;
  border-top: 3px dashed #5c5c5c;
}
.property_photos_inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3px;
  height: 430px;
  align-items: start;
  width: 100%;
  border-radius: 10px;
}
.main_photo {
  height: 430px;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 5px #0000007e;
  border-radius: 10px;
}
.main_photo:hover {
  scale: 1.01;
}
.main_photo img {
  border-radius: 10px;
  height: 100%;
  border: 2px solid #ffffff;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.photo_info {
  position: absolute;
  bottom: 4px;
  left: 4px;
  padding: 4px 18px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2; 
}

.small_photos {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
  height: 430px;
  overflow-y: auto;
}
.photo_box {
  width: 100%;
  height: 33.3%;
  position: relative;
  border-radius: 10px;
}

.photo_box img {
  box-shadow: 0px 2px 5px #0000007e;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #ffffff;
  animation: moveObjectPosition 3s ease;
}

@keyframes moveObjectPosition {
  0% {
    object-position: bottom;
  }
  50% {
    object-position: center;
  }
  100% {
    object-position: top;
  }
}
/* END PHOTOS */

/* DESCRTIPTION SECTION */
.property_descp {
  margin-bottom: 2rem;
  padding: 0 2rem 4rem;
  border-bottom: 2px solid #ddd;
}

.pty_visit_btn {
  margin: 0 auto;
  border-radius: 10px;
  border: 3px dashed #5c5c5c;
  padding: 0.5rem 2rem;
  font-weight: 700;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  line-height: 1;
  color: #ffffff;
  background-color: #ffffff;
  color: #333;
}

.pty_visit_btn span {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #5c5c5c;
}
.pty_visit_btn:hover {
  background-color: #13ccbb;
  color: #000000;

  box-shadow: none;
  border-radius: 3px;
}
.pty_desc_main {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: 1px solid #ddd;
  padding: 1rem 0;
}
/* PRICE AND CURRENCY */

.pty_detail_price {
  padding: 0 1rem;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}
.pty_det_price_wrap {
  display: flex;
  flex-direction: column;
}
.property_detail .pty_purpose {
  font-size: 1rem;
  font-weight: 600;
}
.currency_selector {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  color: #000;
  font-size: 0.86rem;
  font-weight: 600;
}
.currency_opts {
  padding: 0.1rem 0.5rem;
  background-color: #00776b;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #333;
  outline: none;
}
.currency_selector label {
  line-height: 1;
  text-align: left;
  color: #333;
}
.currency_selector label span {
  letter-spacing: 2px;
  font-weight: 700;
}
.dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: rgb(10, 128, 31);
  margin-right: 4px;
}
.dot.red {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: rgb(255, 0, 0);
  margin-right: 4px;
}
.red_txt_dt {
  color: red;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 1px;
}
/*  END PRICE AND CURRENCY */
.pty_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}
.pty_info .info {
  min-width: 110px;
  width: 30%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #333;
  position: relative;
}
.icon_info {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  font-size: 1.2rem;
}

.info_ttl {
  font-weight: 800;
  line-height: 1;
  font-size: 1.2rem;
  color: #f8f8f8;
}

/*  END SPECS(bed, bath...)*/
.pty_desc_second {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.pty_declars {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.pty_type {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}

.pty_detail_col {
  display: flex;
  flex-direction: column;
}
.pty_detail_col p {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}
.pty_detail_col span {
  color: #333;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}

.prty_desc_map {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.pty_desc_thrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 50%;
}
/* PROPERTY DETAIL H2, P | MAP */
.pty_detail {
  width: 100%;
}
.pty_detail_title {
  display: flex;
  align-items: center;
}
.pty_detail_title h2 {
  color: #333;
  letter-spacing: 2px;
}
.pty_detail p {
  color: #888888;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.7;
  padding-left: 2rem;
}
.pty_detail_title svg {
  color: #888888;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 24px;
  color: #000;
  margin-right: 0.5rem;
  fill: #333;
}
/* END PROPERTY DETAIL H2, P */
/* PROPERTY ACTIONS BUTTONS */

.pty_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.pty_ask_btn,
.pty_page_contact_btn {
  box-sizing: border-box;
  border-radius: 100vw;
  width: 47%;
  min-width: 156px;
  border: 3px solid #000000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px -7px #33333383;
}
.pty_ask_btn:hover,
.pty_page_contact_btn:hover {
  background-color: #000000;
  color: #fff;
}
/* END PROPERTY ACTIONS BUTTONS */

/* PROPERTY MAP*/
.pty_map {
  width: 50%;
  position: relative;
}
.location_link {
  color: rgb(187, 0, 0);
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

/* END PROPERTY MAP*/
@media (max-width: 768px) {
  /* HEADER*/
  .pty_detail_hdr {
    padding: 0.5rem 0 0;
  }
  .pty_det_hdr_location {
    gap: 0.2rem;
  }
  .pty_det_icon_location {
    width: 20px;
    height: 20px;
  }
  .pty_det_street {
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  .pty_det_state {
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 500;
  }
  /* END HEADER*/
  .property_photos_inner {
    grid-template-columns: 1fr;
    height: auto;
  }
  .main_photo {
    height: 250px;
  }
  .small_photos {
    flex-direction: row;
    height: auto;
  }
  .small_photos .photo_info{
    padding: 4px 10px;
    line-height: 1;
    font-size: 11px;
  }
  .photo_box {
    flex: 1;
    min-width: 90px;
    height: 100px;
  }
  .photo_box:hover {
    scale: 1;
  }
  /* END PHOTOS */
  /* DESCRIPTION */
  .property_descp {
    padding: 0 0rem 4rem;
  }
  .pty_visit_btn {
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
  }
  /* END DESCRIPTION */
  .pty_declars {
    gap: 1rem;
    justify-content: space-around;
  }
  .pty_detail_col p {
    font-size: 0.9rem;
  }
  .pty_type {
    padding: 0;
    border: none;
  }

  .prty_desc_map {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .pty_desc_thrid {
    width: 100%;
    max-width: 500px;
  }
  .pty_map {
    width: 100%;
  }
  .pty_detail_title h2 {
    font-size: 1.3rem;
  }
  .pty_detail p {
    line-height: 1.3;
  }
}
@media (max-width: 600px) {
  .pty_detail_price {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
  }
  .property_detail .pty_purpose {
    font-size: 0.9rem;
  }
  .pty_actions {
    gap: 0.5rem;
    justify-content: space-between;
  }
  .pty_ask_btn,
  .pty_page_contact_btn {
    min-width: 130px;
    font-size: 0.9rem;
  }
  .pty_info {
    gap: 0.5rem;
  }
  .pty_info .info {
    min-width: 90px;
    width: 33%;
    font-size: 0.9rem;
  }
  .pty_detail_title {
    justify-content: center;
  }
  .pty_detail p {
    padding-left: 0.2rem;
  }
}

@media (max-width: 500px) {
  .pty_declars {
    gap: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
