.add_property {
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}

.add_pty_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1029;

}
.add_pty_hdr {
  background: #41295a;
  background: -webkit-linear-gradient(to right, #2f0743, #41295a);
  background: linear-gradient(to right, #2f0743, #41295a);
  border-bottom: 2px solid #333;
}
.add_pty_hdr_inner {
  color: #ffffff;
  padding: 0 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add_pty_hdr_inner svg.add_icon {
  width: 50px;
  height: 50px;
  color: rgb(146, 233, 146);
  fill: rgb(116, 187, 116);
}

.add_pty_hdr_inner h2 {
  font-size: 1.2rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/* PRGRESS BAR */
.progress-bar-container {
  width: 100%;
}
.progress-bar {
  height: 10px;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
  border-radius: 100vw;
  margin-top: 1px;
}
.step-titles {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 0.8rem;
  width: 100%;
}

.step-title {
  flex: 1;
  color: #ccc;
  transition: color 0.3s ease;
  font-weight: 500;
  cursor: pointer;
  max-width: 15%;
  text-align: center;
  line-height: 1;
  padding: 2px;
  border: 2px solid transparent;
}
.step-title.error {
  border: 2px solid red;
  border-radius: 4px;
}
.step-title:hover {
  color: #006986;
}
.step-title.active {
  color: #13ccbb;
  font-weight: 700;
}
/* END PRGRESS BAR */

.add_pty_ctnt {
  padding: 0.5rem 1rem 6rem;
  width: 100%;
  /* min-height: calc(100vh - 105px); */
  position: relative;
}

.add_pty_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.add_pty_form fieldset {
  border: 2px dashed #ddd;
  border-radius: 10px;
  padding: 1rem 2rem 2rem;
}
.field_title {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #575757;
  position: relative;
}
.validation_error {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 100%;
}
.validation_error svg {
  width: 100%;
  height: 100%;
  color: red;
  fill: red;
}
.add_pty_form h3 {
  color: #333;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.wide_textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border: 1px solid #006986;
  border-radius: 10px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 200px;
  background-color: #ffffff;
}
.wide_textarea:focus {
  outline: none;
  border: 1px solid #00c8ff;
  background-color: #d8f6ffbb;
}

.add_pty_form_navigation {
  position: absolute;
  bottom: 0rem;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_pty_form_navigation button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}
.prev_btn {
  background-color: #0e3b47;
  border-radius: 10px 5px 0 0;
}
.next_btn {
  border-radius: 5px 10px 0 0;
  background-color: #065b00;
  margin-left: auto;
}
.prev_btn:hover,
.next_btn:hover {
  background-color: #333;
  color: #fff;
}
.add_pty_form_navigation button.add_pty_btn {
  padding: 0.5rem 2rem;
  background-color: #00c9ff;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px dashed #006986;
  border-radius: 100vw;
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  color: #000000;
}
/* .listing_payment {
} */

@media only screen and (max-width: 769px) {
  .add_pty_hdr_inner {
    height: 40px;
    padding: 0 1rem;
  }
 
  .add_pty_hdr_inner svg.add_icon {
    width: 30px;
    height: 30px;
  }
  .field_title {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .validation_error {
    top: 0.5rem;
    width: 26px;
    height: 26px;
  }
  .step-titles {
    font-size: 0.7rem;
  }
  .step-title {
    padding: 2px 0;
  }
  .add_pty_ctnt {
    padding: 0.5rem 0 6rem;
  }

  .add_pty_form_navigation button {
    padding: 0.5rem 1.5rem;
    gap: 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .add_pty_form fieldset {
    padding: 0.5rem 1rem 2rem;
  }
  .add_pty_form h3 {
    font-size: 1rem;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 500px) {
  .add_pty_hdr_inner {
    padding: 0;
  }
  .add_pty_hdr_inner h2 {
    font-size: 1rem;
  }
  
  .add_pty_form_navigation button {
    padding: 0.3rem 1rem;
    gap: 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .step-titles {
    font-size: 0.6rem;
  }
}
