.listing_page {
  width: 100%;
  margin: auto;
  padding: 1rem 5rem;
  background-color: #fff;
}
.lising_pge_hdr {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


.list_ttl {
  letter-spacing: 1px;
  color: #333;
  text-transform: capitalize;
}
.count_sort {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.8rem;
  color: #a3a3a3;
  font-weight: 500;
}
.listing_pge_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.listing_pge_content .pty_box {
  width: 100%;
  max-width: 400px;
}
