.footer {
  padding: 2rem 5rem 1rem;
  background-color: #222;
  color: #fff;
}
.ftr_one {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.social_links {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #ffffff;
}
.ftr_icon {
  color: #fff;
  fill: #ddd;
}

.social_links a:hover .ftr_icon {
  color: #ffdf52;
  fill: #ffdf52;
}
.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.link_group {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.footer p {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 600;
}
.ftr_nav_link {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
}
.ftr_nav_link:hover {
  color: #ffdf52;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 2rem 2rem 1rem;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 2rem 1.5rem 1rem;
  }
  .social_links {
    gap: 2rem;
  }
  .ftr_one {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .footer_links {
    align-items: center;
    width: 100%;
    gap: 1.5rem;
  }
  .link_group {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .ftr_nav_link {
    font-size: 1.1rem;
  }
  .footer p {
    text-align: center;
  }
}
