.admn_view_ptys_hdr {
  background-color: rgb(11, 83, 17);
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.admn_view_ptys_hdr div {
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #ffffff;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.admn_view_ptys_hdr svg {
  font-size: 1.2rem;
  color: #fff;
}

.my_pts_cntnt {
  padding: 1rem 5rem;
}

.my_pty_count {
  position: absolute;
  left: 5rem;
  top: 10%;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #1f8600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.my_ptys_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.my_ptys_grid .pty_box {
  width: 100%;
}
.my_pty_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.add_pty_link {
  display: block;
  width: 30%;
  text-align: center;
  margin: 3rem auto;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px dashed #000;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  transition: all 0.3s;
}
.add_pty_link:hover {
  background-color: #000;
  color: #fff;
}
