.admn_view_ptys_hdr {
  background-color: rgb(11, 83, 17);
}
.admn_view_ptys_hdr_inner {
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.admn_view_ptys_hdr_inner div {
  text-align: left;
  color: #ffffff;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.admn_view_ptys_hdr_inner svg {
  font-size: 1.2rem;
  color: #fff;
}
.admn_view_ptys_hdr_inner p {
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.1;
}

.my_pts_cntnt {
  padding: 1rem 4rem;
  position: relative;
  min-height: 50vh;
}

.my_pty_count {
  position: absolute;
  left: 0rem;
  top: 0rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #1f8600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 10;
}
.my_ptys_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.my_ptys_grid .pty_box {
  width: 100%;
  /* max-width: 300px; */
}
.my_pty_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.add_pty_link {
  display: block;
  width: 30%;
  text-align: center;
  margin: 3rem auto;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px dashed #000;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  transition: all 0.3s;
}
.add_pty_link:hover {
  background-color: #000;
  color: #fff;
}
.zero_msg {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .my_pts_cntnt {
    padding: 1rem 0;
  }
  .my_pty_count {
    left: -0.2rem;
  }
  .add_pty_link {
    width: max-content;
  }
  .admn_view_ptys_hdr_inner {
    gap: 2rem;
    padding: 0.5rem 1rem;
  }
}
