.user_lisings_pge {
  background-color: #fff;
  width: 100%;
}
.usr_listn_hdr {
  padding: 2rem 5rem;
  background-color: #333;
}
.usr_listn_hdr h2 {
  color: #fff;
  letter-spacing: 2px;
}
.user_lisings_contnt {
  padding: 1rem 5rem;
}
