/* SORTING HEADER */
.filtering_bar {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1030;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px dashed #3333337c;
}
.filtering_bar_comps {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.clear_selection_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f44336;
  padding: 0.3rem 1rem;
  /* min-width: 70px; */
  border-radius: 0.6rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0px 2px 5px #333333;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  margin-left: auto;
  position: absolute;
  top: 110%;
  right: 0;
}
.clear_selection_btn svg {
  font-size: 1.5rem;
}
.clear_selection_btn span {
  line-height: 1;
}
.clear_selection_btn:hover {
  border-radius: 0.3rem;
  background-color: #d32f2f;
  box-shadow: 0px 1px 0px #33333362;
}
@media screen and (max-width: 1000px) {
  .filtering_bar_comps {
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .filtering_bar{
    padding: 0.5rem 0;
  }
}
