.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  /* background-color: #333; */
  background-color: #ffffff;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  color: #444;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.navbar {
  color: #000000;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  height: 100%;
}
.nav_list li{
  height: 100%;
}
.hdr_nav_link {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  line-height: 1;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hdr_nav_link:hover {
  color: #333;
}
.hdr_nav_link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 51, 51);
}
.auth_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.auth_link {
  padding: 0.2rem 1rem;
  border-radius: 100vw;
  width: 100px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}
.signup_link {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 2px solid #000000;
}
.signup_link:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: 2px solid #000000;
}
.login_link {
  border: 2px dashed #000000;
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.login_link:hover {
  border: 2px dashed #4ec200;
  color: #333;

}
