.admn_dash_board {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.admn_dash_board {
  padding: 0.5rem 1rem;
  /* background-color: #f4f7fa; */
  background-color: #ffffff;
}
.dash_top {
  display: flex;
  gap: 1rem;
}

.dashboard_data.stats {
  background-color: #003566;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.4rem;
  border-radius: 20px;
}
.dashboard_data.new_ptys {
  /* background-color: #f8f8f8; */
  max-width: 700px;
  background-color: #343a40;
  padding: 30px 20px 20px;
  border-radius: 20px;
  /* height: max-content; */
  position: relative;
}
.dashboard_data.new_users {
  flex: 1;
  padding: 30px 20px 20px;
  border-radius: 20px;
  position: relative;
  background-color: #89c2d9;
}
.new_users_listing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.new_ptys_ttl {
  color: #ffffff;
  position: absolute;
  top: 0.1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.newly_lstd_ptys {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.new_listed_pty {
  width: 100%;
  display: flex;
  min-height: 180px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8383838e;
}
.new_pty_lister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.new_user_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff9f9;
  padding:  1rem;
  
}
.new_pty_lister h3 {
  color: #333;
  font-size: 0.8rem;
}
.new_pty_lister p {
  color: #000000;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
}

.new_pty_lister img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333;
  object-fit: cover;
  object-position: center;
}
.new_user_box h3 {
  color: #636363;
  font-size: 0.8rem;
}
.new_user_box p {
  color: #c9c9c9;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
}

.new_user_box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333;
  object-fit: cover;
  object-position: center;
}
.user_pp_icon {
  width: 40px;
  height: 40px;
  color: #003566;
}
.stat_item {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  /* width: 400px; */
  /* height: 150px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stat_item.pty {
  background-color: #0d1b2a;
  color: #f4f7fa;
}
.stat_item.usr {
  background-color: #778da9;
  color: #f4f7fa;
}
.stat_item.txn {
  color: #f4f7fa;
  background-color: #3e5c76;
}
.stat_item.revn {
  color: #f4f7fa;
  background-color: #415a77;
}
.stat_hdr {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.stat_hdr span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e0e1dd;
}
.stat_hdr span svg {
  color: #001d3d;
  font-size: 1.2rem;
}
.stat_hdr h2 {
  font-size: 1.2rem;
  color: inherit;
}

.stat_item p {
  font-size: 1.5rem;
  color: #e0e1dd;
  font-weight: 700;
  margin-left: 0.5rem;
}
