.admn_dash_board {
  position: relative;
  min-height: calc(100vh - 50px);
  padding: 0.5rem 1rem;
  background-color: #ffffff;
}

.dash_top,
.dash_btm {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  box-shadow: 0px 0px 4px #33333356;
  margin-bottom: 1rem;
  border-radius: 20px;
  background: #3e5151;
  background: -webkit-linear-gradient(to right, #decba4, #3e5151);
  background: linear-gradient(to right, #decba4, #3e5151);
}
.dash_top {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}
.dash_btm {
  background: #3e5151;
  background: -webkit-linear-gradient(to right, #decba4, #3e5151);
  background: linear-gradient(to left, #decba4, #3e5151);
}
/* PROPERTIES */
.dash_new_ptys {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0.5rem 2rem 1rem;
  /* box-shadow: 0px 0px 10px #00356648; */
  grid-area: 1 / 2 / 2 / 5;
  box-shadow: 0px 0px 10px #000000;
}

.dash_ttl_stats {
  color: #4e4e4e;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 1rem;
}
.dash_pty_slider {
  padding: 0 0rem 1rem;
}
/* END PROPERTIES */
/*  TRANSACTIONS */

.dash_transactions {
  padding: 0.5rem 1.5rem 1rem;
  border-radius: 20px;
  position: relative;
  background-color: #e7f6f7;
  grid-area: 1 / 1 / 2 / 4;
  height: max-content;
  border: 1px solid #33333356;
  box-shadow: 0px 0px 10px #000000;
}

.dash_txn_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* END TRANSACTIONS */

/* USERS */

.dash_new_users {
  padding: 0.5rem 1rem 1rem;
  border-radius: 20px;
  background-color: #cbdfd5;
  margin-bottom: 1rem;
  height: 100%;
  box-shadow: 0px 0px 10px #000000;
  grid-area: 1 / 4 / 2 / 5;
}
.dash_ttl_usrs {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.new_users_listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: calc(100% - 30px);
}

/* END USERS */
