.tour_schedule_page {
  background-color: #fff;
  min-height: calc(100vh - 50px);
}
.tour_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}
.tour_schd_hdr {
  background-color: #444;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem 5rem;
}
.tour_schdl_ttl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tour_schdl_ttl h2 {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1rem;
}
.tour_schdl_ttl svg {
  font-size: 1.5rem;
  color: #ffffff;
}
.tours_sub_ttl {
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #ffffff;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.tours_sub_ttl svg {
  font-size: 1.2rem;
  color: #fff;
}

.tour_schdl_cntnt {
  padding: 1rem 5rem;
}

.zero_msg {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 2rem;
}
