.admn_header {
  position: sticky;
  top: 0;
  z-index: 1040;
  background-color: transparent;
  width: 100%;
}
.admn_header_inner {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 1rem;
  position: relative;
}
.admin_hamburger {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.admin_hamburger:hover {
  background: #ffffff;
}
.admin_hamburger svg {
  width: 26px;
  height: 26px;
}
.admn_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vw;
  padding: 0.2rem 2rem;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border: 1px solid #33333331;
  height: 46px;
}
.logo_txt {
  color: #444;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}
.admin_badge svg {
  width: 46px;
  height: 46px;
  fill: #3a6ba1;
}
.admn_nav {
  border-radius: 100vw;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  /* height: 46px; */
  border: 1px solid #33333331;
  padding: 0.3rem 1rem;
  /* flex: 1; */
  /* max-width: 55%; */
}
.admin_nav_links {
  /* height: 44px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.admin_nav_links li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.2rem 1rem; */
}
.admin_nav_link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0.2rem 1rem;
  padding-left: 2rem;
  border-radius: 100vw;
  color: #333;
  font-size: 0.9rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px -1px #000000;
  font-weight: 600;
  /* letter-spacing: 1px; */
  border: 1px solid #33333328;
  transition: all 0.3s ease;
  position: relative;
}
.admin_nav_link svg {
  min-width: 22px;
  min-height: 22px;
  position: absolute;
  left: 0.3rem;
}
.admin_nav_link:hover {
  background-color: #f3f3f371;
  box-shadow: 0px 1px 1px 0px #33333370;
  border: 1px solid #0000007e;
}
.admin_nav_link.active {
  box-shadow: none;
  background-color: #333;
  border: 1px solid transparent;
  color: #fff;
}
.admin_hdr_right {
  height: 46px;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.admn_notf_hdr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #ffffff;
  position: relative;
  z-index: 1032;
  transition: all 0.3s ease;
  background-color: #ff0000;
}
.admn_notf_hdr:hover {
  border: 1px solid #00000060;
  background: #00000090;
  backdrop-filter: blur(15px);
}
.admn_notf_hdr svg {
  width: 26px;
  height: 26px;
}
.admn_hdr_prfl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0 0.3rem 0 1.5px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border: 1px solid #33333331;
  border-radius: 100vw;
  height: 100%;
  cursor: pointer;
  z-index: 1033;
  width: 180px;
}
.admn_pp {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px #33333394;
  border-radius: 50%;
}
.admn_ppic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dashed #00000062;
}
.admn_pp_placeholder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3a6ba1;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #33333344;
}
.admn_pp_placeholder svg {
  width: 20px;
  height: 20px;
  color: #fff;
}
.admn_user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  height: 100%;
  padding: 0.1rem 0;
}
.admn_user_info p {
  line-height: 1.1;
  color: #5a5a5a;
}
.admn_name {
  font-size: 0.9rem;
  font-weight: 700;
}
.admn_user_info strong {
  color: #000000;
  font-size: 0.8rem;
  line-height: 1;
}
.admn_dd_togle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  color: #3a6ba1;
}
.admn_dd_menu {
  position: absolute;
  top: 0.2rem;
  right: 5px;
  width: 170px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 1032;
  padding-top: 2.8rem;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 30px 30px 10px 10px;
  box-shadow: 0px 2px 14px #33333369;
}
.admn_dd_link {
  padding: 0.2rem 0.5rem;
  color: #3a6ba1;
  font-size: 0.9rem;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  text-align: right;
}
.admn_dd_link.logout {
  border-bottom: 1px solid #ff7171;
  background-color: #ff7171;
  border-radius: 0 0 10px 10px;
  color: #fff;
}
.admn_dd_link:hover {
  background-color: #f4f7fa;
}
.admn_dd_link.logout:hover {
  background-color: #ff0000;
}

@media only screen and (max-width: 1300px) {
  .admn_logo {
    padding: 0rem 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .admn_header_inner {
    padding: 0 1rem;
  }
  .admin_hdr_right {
    gap: 1rem;
  }
  .admn_logo {
    height: 40px;
  }
  .admin_badge svg {
    width: 36px;
    height: 36px;
  }
  .logo_txt {
    font-size: 1.2rem;
  }

  .admin_nav_link {
    padding-left: 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 0px;
  }
  .admin_nav_link svg {
    min-width: 16px;
    min-height: 16px;
  }
}
@media only screen and (max-width: 1100px) {
  .admn_header_inner {
    padding: 0;
    gap: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .admn_logo {
    border: none;
    padding: 0.2rem 0.4rem;
  }
  .logo_txt {
    display: none;
  }
  .admn_nav {
    border-radius: 10px;
  }
  .admin_hdr_right {
    height: 40px;
  }
}
@media only screen and (max-width: 850px) {
  .admn_logo {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .admn_header {
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
  }

  .admn_header_inner {
    height: 46px;
  }
  .admin_hamburger {
    display: flex;
  }
  .admn_nav {
    display: none;
  }
  .admn_logo {
    display: flex;
    padding: 0.2rem 1rem;
  }
  .logo_txt {
    display: block;
  }
  .admn_nav.open {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .admin_nav_link{
    padding: 0.4rem 1rem;
    padding-left: 1.5rem;

  }
  .admn_hdr_prfl {
    width: 140px;
    padding: 0 0.2rem 0 0.5rem;
  }
  .admn_notf_hdr {
    width: 30px;
    height: 30px;
  }
  .admn_notf_hdr svg {
    width: 22px;
    height: 22px;
  }
  .admn_pp {
    width: 30px;
    height: 30px;
  }
  .admn_dd_menu {
    width: 130px;
  }
}
@media only screen and (max-width: 500px) {
  .admn_logo {
    display: none;
  }
  .admn_nav.open {
    left: 0;
    transform: translateX(0);
    padding: 0.5rem;
    z-index: 1040;
  }
  .admin_nav_links {
    flex-direction: column;
    gap: 0.5rem;
  }
  .admin_nav_links li {
    width: 100%;
  }
  .admin_nav_link {
    width: 100%;
    padding-left: 2.3rem;
    justify-content: flex-start;
  }
  .admin_nav_link svg {
    min-width: 20px;
    min-height: 20px;
  }
}
