.card_input {
  max-width: 550px;
  margin: 2rem auto;
  position: relative;
  padding: 1rem 2rem;
  box-shadow: 0px 1px 8px -5px #333;
  background-color: rgb(252, 253, 255);
  border-radius: 5px;
}
.checkout_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.fee_msg {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.fee_amount {
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(45, 143, 0);
  margin-right: 0.4rem;
}
.payment_btn {
  background-color: blue;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  width: max-content;
  box-shadow: 0 2px 10px #222;
  border-radius: 5px;
  border: 2px solid #00c70a;
  border-radius: 100vw;
  border: 2px dashed transparent;
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
}
.payment_btn:hover {
  border: 2px dashed #333;
  background-color: #fff;
  color: #000;
  box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .card_input {
    max-width: 100%;
    width: 100%;
    padding: 1rem 0.2rem;
    margin: 1rem auto;
  }
  .fee_msg {
    font-size: 1rem;
  }
  .fee_amount {
    font-size: 0.9rem;
  }
  .payment_btn {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}
