.loading_skeleton {
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 2rem 2rem;
  width: 100%;
}

.loading_skeleton_inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
