.property_listing_page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding: 0rem 5rem 2rem;
  position: relative;
}
.pty_listing_hdr{
  display: flex;
  align-items: flex-start;
  padding: 0.4rem;
}
.pty_listing_ttl {
  flex: 1;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.1;
}
.pty_listing_contnt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  padding: 0.5rem 0;
}
.pty_listing_contnt .pty_box {
  width: 100%;
}
.no_properties_found {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 3rem;
}
.listing_p_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
