/* Modal (side menu) */
.nav_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1020;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: block;
}

.nav_modal_content {
  background-color: #fff;
  width: 250px;
  height: 100%;
}

/* When modal is open, slide in from left */
.nav_modal.open {
  transform: translateX(0);
}
.mobile_nav {
  background-color: #ffffff;
  height: 100%;
}
.mobile_nav_hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 0 1px 5px #33333362;
}
.mob_logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  letter-spacing: 2px;
}
.close_side_nav {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  background: none;
  width: 40px;
}
.icon_close_nav {
  width: 26px;
  height: 26px;
  color: #000000;
  fill: #000000;
}
.mob_nav_link.usr {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #333;
  padding: 1rem;
}
.mob_nav_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0 1rem;
  border-top: 1px solid #ddd;
  overflow: hidden;
}
.mob_nav_link {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #eee;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.mob_nav_link:hover {
  color: #ffffff;
  background-color: #333;
}
.mob_nav_link svg {
  font-size: 1.3rem;
}
.mob_usr_hdr svg {
  fill: #ffffff;
  font-size: 1.4rem;
}
.mob_usr_hdr p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
.mob_usr_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob_usr_hdr img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.mob_nav_link.logout {
  box-sizing: border-box;
  background-color: red;
  color: #fff;
}
.mob_profile_btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #333;
  display: none;
  align-items: center;
  justify-content: center;
}


@media only screen and (min-width: 768px) {
  .nav_modal {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav_modal.open {
    transform: translateX(0);
  }
  .mob_profile_btn {
    display: flex;
  }
}
