.mange_pty_pge {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}
.mange_pty_hdr {
  background-color: rgb(11, 83, 17);
}
.mange_pty_hdr_inner {
  padding: 0.5rem 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.mange_pty_ttl {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}
.mange_pty_sub_ttl {
  color: #ffffff;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mange_pty_sub_ttl p {
  line-height: 1.2;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
}
.mange_pty_sub_ttl svg {
  font-size: 1.2rem;
  color: #fff;
}
.mange_pty_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 0.5rem 0;
}
.mange_nav_link {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border-radius: 100vw;
  border: 1px dashed #000;
  transition: all 0.3s;
}
.mange_nav_link:hover {
  background-color: #000;
  color: #fff;
}
.mange_nav_link.active {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .mange_pty_hdr_inner {
    padding: 0.5rem 1rem;
    gap: 0rem;
    flex-direction: column;
    align-items: center;
  }
  .mange_pty_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.5rem;
  }
  .mange_nav_link {
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
  }
}
