.notf_page {
  background-color: #fff;
  min-height: calc(100vh - 50px);
}
.notf_hdr {
  background-color: #333;
  padding: 0.5rem 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.notf_hdr_sub_ttl{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 0.9rem;
}
.notf_hdr h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 3px;
}
.notf_filter_controls {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.notf_fltr_btn {
  color: #0e0d0d;
  background-color: #ffffff;
  padding: 0.2rem 1rem;
  font-size: 0.85rem;
  border-radius: 3px;
  border: 1px dashed #000;
  transition: all 0.3s ease;
}
.notf_fltr_btn:hover{
  background-color: #dbdbdb;
}
.notf_fltr_btn.active {
  background-color: #000;
  color: #fff;
}
.notf_contnt {
  padding: 1rem 5rem;
}

.notf_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.notf_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.notf_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.notf_date {
  font-size: 0.8rem;
  color: #9b9b9b;
  font-weight: 600;
}
.notf_detail {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.notf_img {
  width: 200px;
  height: 100px;
}
.notf_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.notf_ttl {
  font-size: 1.2rem;
  color: #008496;
  font-weight: 700;
  line-height: 1.2;
}
.notf_msg {
  font-size: 0.9rem;
  color: #979797;
  font-weight: 500;
  line-height: 1.6;
  max-width: 450px;
  text-align: left;
}
.view_tour_detail_link {
  color: #000;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: all 0.3s;
  border: 1px dashed #000;
  margin-left: 216px;
}
.view_tour_detail_link:hover {
  background-color: #000;
  color: #fff;
}
.mark_read_btn {
  background-color: #0095a8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.9rem;
}
.mark_read_btn:hover {
  background-color: #333;
}
.no_notfs {
  font-size: 1.2rem;
  color: #858585;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}
