.cat_listing_page {
  width: 100%;
  margin: auto;
  padding: 0.5rem 3rem 2rem;
  background-color: #fcfdfd;
  position: relative;
}
.cat_lising_pge_hdr {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.list_ttl {
  letter-spacing: 1px;
  color: #333;
  text-transform: capitalize;
}
.count_sort {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.pty_count {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
  margin-right: 2rem;
}

.cat_listing_pge_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.cat_listing_pge_content .pty_box {
  width: 100%;
  max-width: 400px;
}
.cat_no_properties_found {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}
.listing_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .cat_listing_page {
    padding: 0.5rem 0rem 2rem;
  }
  .list_ttl {
    font-size: 1.1rem;
  }
  
}
