.all_listings {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 0.5rem 1rem 4rem;
}


.slider_section {
  width: 100%;
  margin: 0 auto 2rem;
  position: relative;
}
.property_slider {
  width: 100%;
  margin: 2rem auto 5rem;
  max-height: 500px;
}
.cat_ttl {
  color: #333;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cat_ttl svg{
  font-size: 2rem;
}
.single_pty {
  width: 300px;
}
@media (max-width: 768px) {
  .all_listings .pty_box {
    min-width: 250px;
  }
}
