.listing_section {
  background-color: #fff;
  width: 100%;
}
.listing_section_inner {
  padding: 1rem 3rem 3rem;
  background-color: #fff;
  width: 100%;
}
.listing_ttl {
  color: #333;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ddd;
}
.listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  padding: 1rem 0;
}
.listing .pty_box {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

@media (max-width: 1000px) {
  .listing_section_inner {
    padding: 1rem 1rem 3rem;
  }
  .listing {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .listing_section_inner {
    padding: 1rem 0rem 3rem;
  }
  .listing_ttl {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
  }
  .listing {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .listing {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 0 0.5rem;
  }
}
