.property_listing_page {
  width: 100%;
  background-color: #fff;
  padding: 0rem 5rem 2rem;
}
.pty_listing_ttl {
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
}
.pty_listing_contnt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  padding: 0.5rem 0;
}
.pty_listing_contnt .pty_box {
  width: 100%;
}
.no_properties_found {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 3rem;
}
